[gcode_macro PARK_CENTER]
gcode:
    {% set th = printer.toolhead %}
    G90
    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y//2} Z30

[gcode_macro G32]
gcode:
    BED_MESH_CLEAR
    G28
    QUAD_GANTRY_LEVEL
    G28 CALIBRATE=1
    G0 X87.5 Y90 Z30 F3600

[gcode_macro SET_CHAMBER]
gcode:
  {% set target_chamber = params.CHAMBER_TEMP|default(-1)|float %}
  SET_HEATER_TEMPERATURE heater=chamber target={target_chamber}

[gcode_macro HEATSOAK_CHAMBER]
gcode:
   {% set target_chamber = params.CHAMBER_TEMP|default(-1)|float %}
   MESSAGE MSG="Heatsoaking: {target_chamber}c"  # Display info on display
   {% if target_chamber > -1 and not printer["heater_generic chamber"].temperature >= target_chamber|float%} #wait for chamber temps
       SET_CHAMBER CHAMBER_TEMP={target_chamber}
       PARK_CENTER #move to center of bed to help heatsoak
       M106 S204 #part cooling fan 80%
       TEMPERATURE_WAIT SENSOR="heater_generic chamber" MINIMUM={target_chamber-1} #wait until chamber temp is very nearly reached
   {% endif %}

   #in case chamber was already heated
   {% if target_chamber > -1 %}
       SET_CHAMBER CHAMBER_TEMP={target_chamber} 
   {% endif %}  # Waits for chamber temp
  
[gcode_macro NOZZLE_LED]
gcode:
  {% set status = params.S|default(1)|float %}
  SET_LED LED=nozzle red=0 green=0 blue=0 white={status}

[gcode_macro TOGGLE_FILTER]
gcode:
    {% if printer['fan_generic filter'].speed > 0 %}
      SET_FAN_SPEED FAN=filter SPEED=0
    {% else %}
      SET_FAN_SPEED FAN=filter SPEED=1
    {% endif %}

[gcode_macro FILTER_ON]
gcode:
    SET_FAN_SPEED FAN=filter SPEED=1

[gcode_macro MESSAGE]
description: "Display a message on the printer's display and console"
gcode: 
    {% set colors = ('primary', 'secondary', 'accent', 'info', 'success', 'error', 'warning') %}
    {% set color = params.COLOR|default('primary') %}
    {% if color in colors %}
      {% set msg = 'MSG="<span class=' + color + '--text>' + params.MSG + '</span>"'|string %}
    {% else %}
      {% set msg = 'MSG="' + params.MSG + '"'|string %}
    {% endif %}

    SET_DISPLAY_TEXT MSG="{params.MSG}"
    M117 {msg}